{% extends "layout.twig.html" %}

{% block title %} Login {% endblock %}

{% block content %}
{% if error is not empty %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container">
    <form class="form-signin" method="POST" action="/changepass">
        <h2 class="form-signin-heading">Pick new password</h2>
        <label for="inputPassword" class="sr-only">New Password</label>
        <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
{% endblock %}