{% extends "layout.auth.twig.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Delete</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{item.name}}</td>
        <td>
            {% if $item.ts neq 0 %}
            <a href="/delete-media-category/{{item.id}}">Delete</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

<form method="POST" action="/media-category">
    <div class="form-group">
        <label for="inputURL">Media Category Name</label>
        <input type="text" name="name" class="form-control" id="inputURL" placeholder="Media Category">
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
</form>

{% endblock %}
